$root: 'checkbox-button';

.#{$root} {
  @include user-select-none;

  cursor: pointer;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 1;

  &:hover,
  &:focus {
    .#{$root}__check-mark {
      border-color: $primary-color-opacity-50;
    }

    .#{$root}__label {
      color: $primary-color-opacity-75;
    }
  }

  &_theme_bold {
    .#{$root}__label {
      @include h3;

      color: $primary-color-opacity-75;
      font-size: 1rem;
      line-height: 1.29rem;
      text-transform: initial;
    }
  }

  &__label {
    color: $primary-color-opacity-50;
    line-height: 1.29rem;
  }

  &__input {
    cursor: none;
    height: 0;
    opacity: 0;
    position: absolute;
    width: 0;

    &:checked {
      & ~ .#{$root}__check-mark {
        border-color: $primary-color;

        .#{$root}__mark {
          opacity: 1;
        }
      }

      & ~ .#{$root}__label {
        color: $primary-color-opacity-75;
      }
    }
  }

  &__check-mark {
    align-items: center;
    border: 1px solid $primary-color-opacity-25;
    border-radius: 4px;
    box-sizing: border-box;
    display: flex;
    height: 1.42rem;
    justify-content: center;
    margin-right: 10px;
    min-width: 1.42rem;
    width: 1.42rem;
    background-color: $color-white;

    .#{$root}__mark {
      height: 0.71rem;
      opacity: 0;
      width: 0.71rem;
    }
  }
}
