@import '~assets/fonts/montserrat/fonts.scss';

$xxs: 320px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
$xl: 1440px;

$font-size-body: 14px;
$font-family-body: montserrat, arial, helvetica, sans-serif;
$font-weight-body: 400;

$primary-color: rgba(31, 32, 65, 1);
$primary-color-opacity-75: rgba($primary-color, 0.75);
$primary-color-opacity-50: rgba($primary-color, 0.5);
$primary-color-opacity-25: rgba($primary-color, 0.25);
$primary-color-opacity-10: rgba($primary-color, 0.1);
$color-grey-light: rgba(199, 199, 199, 0.5);
$color-grey-medium-light: #f3f3f3;
$color-grey-medium: #f4f4f6;
$color-grey-medium-dark: #c7c7cf;
$color-grey: #808488;
$color-grey-dark-opacity-50: rgba(31, 32, 65, 0.5);
$color-grey-cool: #ddd;
$color-white: #fff;
$color-black: rgba(0, 0, 0, 0);
$color-black-opacity-12: rgba($color-black, 0.12);
$color-black-opacity-2: rgba($color-black, 0.2);
$color-purple-light: #8ba4f9;
$color-purple: #bc9cff;
$color-green: #6fcf97;
$color-green-light: #66d2ea;
$gradient-primary: linear-gradient(
  180deg,
  $primary-color 0%,
  $color-purple 100%
);

@mixin font-family-first-regular {
  font-family: $font-family-body;
  font-style: normal;
  font-weight: 400;
}

@mixin font-family-first-bold {
  font-family: $font-family-body;
  font-style: normal;
  font-weight: 700;
}

@mixin reset-button {
  background: none;
  border: inherit;

  &,
  & > *,
  &:hover,
  &:focus {
    outline: none;
  }
}

@mixin linear-gradient($degrees, $top-color, $bottom-color, $opacity) {
  background: linear-gradient(
    $degrees,
    rgba($top-color, $opacity) 0%,
    rgba($bottom-color, $opacity) 100%
  );
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#{rgba($top-color, $opacity)}', endColorstr='#{rgba($bottom-color, $opacity)}', GradientType=0); /* IE6-9 */
}

@mixin base-h {
  @include font-family-first-bold;

  color: $primary-color;
}

@mixin h1 {
  @include base-h;

  font-size: 1.71rem;
  line-height: 2.09rem;
}

@mixin h2 {
  @include base-h;

  font-size: 1.36rem;
  line-height: 1.65rem;
}

@mixin h3 {
  @include base-h;

  font-size: 0.85rem;
  line-height: 1.04rem;
  text-transform: uppercase;
}

@mixin h3-lite {
  @include base-h;
  @include font-family-first-regular;

  font-size: 0.85rem;
  font-weight: normal;
  line-height: normal;
  text-transform: uppercase;
}

.scrollbar::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

.scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #a0a0a0;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-clip: padding-box;
}

@mixin user-select-none {
  user-select: none;
}
